body {
  font-family: 'Ubuntu';
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

h2{
  font-size: 30px;
}

h3{
  font-size: 35px;
  color: rgb(26, 144, 223);
}

.bl{
  color: rgb(26, 144, 223);
}

.it{
  font-style: italic;
  font-size: 18px;
}